#experience {

  .description {
    @extend %fade-animate;
    line-height: 1.6;
    font-size: clamp(1.1em, 2.5vw, 1.15em);

    b {
      color: #00ac00;
    }
  }

  .skills {
    .skills-container {
      .skill-card {
        @extend %fade-animate;
        padding: 20px;

        h2 {
          margin-top: 0;
        }
        p {
          margin: 0;
        }
      }
    }

    .work-container {

      .company-card {
        @extend %fade-animate;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;

        h2, p {
          margin: 0;
          font-size: clamp(1.1em, 2.5vw, 1.15em);
        }

        .title {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          img {
            margin-right: 10px;
            width: 36px;
            height: auto;
          }

          h2 {
            font-size: clamp(1.25em, 2.5vw, 1.5em);
          }

          p {
            font-style: italic;
            color: #aaa;
          }
        }
      }
    }
  }

  .career {
    margin-top: 24px;

    width: 70%;

    .ant-timeline-item-header, .ant-timeline-item-content {
      padding: 0 10px;
    }
   
  }

  .tech {
    margin-top: 24px;
   
    .marquee-container {
      @extend %fade-animate;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      margin-bottom: 5px;
  
      img {
        margin: 0 5px;
        height: 30px;
      }
  
      .marquee-content {
        display: flex;
        justify-content: space-evenly;
  
        &.left {
          animation: scroll-left 20s linear infinite;
        }
  
        &.right {
          animation: scroll-right 20s linear infinite;
        }
  
        &:hover {
          animation-play-state: paused;
        }
      }
    }
  
    @keyframes scroll-left {
      0% {
        transform: translateX(0);
      }
  
      100% {
        transform: translateX(-50%);
      }
    }
  
    @keyframes scroll-right {
      0% {
        transform: translateX(-50%);
      }
  
      100% {
        transform: translateX(0%);
      }
    }
  }
}

%fade-animate {
  animation: fade-in ease-in forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 20%; /* Starts when 20% visible, finishes at 40% */
}

@keyframes fade-in {
  from { 
    opacity: 0; 
    transform: translateY(20px); 
    
  }
  to { 
    opacity: 1; 
    transform: translateY(0);
  }
}
