body {
  margin: 0;
  background: #0C0C0E;
  color: #fff;
}

.ant-layout {
  .ant-layout-content {
    transition: all 1.5s ease;
    padding: 24px;
    background: #0C0C0E;
    color: #fff;

    background-image: url('../images/hero_image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: 100%;  
    background-position: right 70px; 

    &.background-contain {
      background-size: 50%;
      background-position: right 100%; 
    }

    @media (width <= 640px) {
      background-attachment: inherit;
      background-position: right 10px;

      &.background-contain {
        background-size: 100%;  
        background-position: right 10px; 
      }
    }
  }
}

section {
  padding-top: 60px;
}

.ant-divider {
  .ant-divider-inner-text {
    font-size: clamp(1rem, 8vw, 1.5rem);
    color: #fff;
  }
}

p {
  font-size: 16px;
}

.anticon {
  font-size: 18px;
  margin-right: 8px;
}

.ant-divider-inner-text {
  font-size: 16px;
  font-weight: bold;
}

#index {

  .top-scroll-button {
    position: fixed;
    height: clamp(3rem, 4vw, 4rem);
    top: 1%;
    right: 2%;
    z-index: 1000;

    .top-scroll-icon {
      display: block;
      // width: 100%;
      height: 100%;
      cursor: pointer;
      
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease-out;

      &.visible {
        opacity: 1;
        visibility: visible;
      }

      // @media (width <= 640px) {
      //   &.visible {
      //     opacity: 0;
      //     visibility: hidden;
      //   }
      // }
    }
  }

  #hero {
    .image-container {
      margin: -24px -32px;
      height: 80vh;
      position: relative;
      display: block;
      overflow: hidden;
  
      img {
        max-width: 100%;
        height: auto;
      }

      // Mobile: (< 640px) (commonly designed at 320px–375px).
      // Tablet: (641px–1007px) (standard tablet landscape is often 768px).
      // Desktop: (> 1008px) (standard desktop containers are often 1200px–1440px)

      @media (width <= 1200px) {
        // height: 60vw;
        height: 60vw;
      }

      @media (width <= 640px) {
        // height: 20vh;
        height: 50vw;
      }
    }
  
    .hero-text {
      h1 {
        margin: 0;
        text-align: left;
  
        &.last-name {
          margin-top: -10%;
          margin-left: 15%;
          color: #aaa;
        }
      }
      font-size: 2rem;
      margin: 0;
      color: white;
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 1s ease-out;
  
  
      &.visible {
        opacity: 1;
        font-size: clamp(1rem, 5vw, 3.5rem);
      }
    }
  }
}
