/* 
font-family: 'Skranji', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Ubuntu', sans-serif;
*/

:root {
    --fontA: 'Oswald', sans-serif;
    --fontB: 'Kaushan Script', cursive;
    --fontC: 'Skranji', cursive;
    /* var(--fontA); */
}

* {
    padding: 0;
    margin: 0;
}

.header {
    grid-column: 1/-1;
}

#nav {
    height: 68px;
    font-family: var(--fontB);
}

#nav h1 {
    font-size: 35px;
}

#nav li {
    font-size: 18px;
}

.right.menu,
.dropdown-content a {
    font-family: var(--fontA);
}

.box {
    position: relative;
    padding: 10px;
    color: white;
    overflow: hidden;
}

.about {
    position: relative;
}

.parallax {
    background-image: url('./imgs/code.jpg');
    background-attachment: fixed;
    background-position: 65% 100%;
    width: 100%;
    height: 350px;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.main {
    background-color: rgba(71, 71, 71, 0.5);
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    font-size: 24px;
    font-family: var(--fontA);

    margin: 20px 0 20px 2%;
    height: auto;
    width: 310px;
}

.main .text {
    text-align: center;
    position: relative;
}

.main .text p {
    color: #fff;
    height: auto;
}

#profileImg {
    margin: 100px auto 10px;
    border-radius: 30px;
    height: 200px;
    width: auto;
    box-shadow: 5px 5px 10px #888888;
}

/* ============================ Project Title ======================*/
.projectTitle {
    background: #333;
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
}

.projectTitle p {
    color: #fff;
    padding: 10px;
    font: 400 20px var(--fontA);
    text-transform: uppercase;
}

.projectTitle p:before,
.projectTitle p:after {
    content: '';
    border-bottom: 1px solid #fff;
    width: 30%;
    display: inline-block;
    margin: 0 10px 6px;
}

/* ============================ Contact & Footer ======================*/
.contact {
    background: #333;
    width: 100%;
    padding: 10px 0 40px;
}

#contact-form > .col {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}

#contact-form {
    width: 90%;
    padding: 0px;
    margin: 10px auto;
    text-align: center;
}

input[type='text'],
input[type='email'],
select {
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
    background: #f1f1f1;
    font-family: var(--fontA);
    font-size: 18px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin: 5px auto;
    display: block;
    border: none;
    border-bottom: 3px solid silver;
    outline: none;
    background: #f1f1f1;
    resize: none;
    font-family: var(--fontA);
    font-size: 18px;
}

button[type='submit'] {
    background-color: #8d2b2b;
    color: white;
    font-size: 20px;
    width: 80%;
    padding: 5px 0;
    margin: 10px auto 0;
    border-radius: 20px;
    outline: none;
    font-family: var(--fontA);
}

button[type='submit']:hover {
    background-color: #971e1e;
    box-shadow: 5px 5px 20px -5px #ccc;
}

button.emailSubmit.mobile {
    display: none;
}

input[type='text']:focus,
input[type='email']:focus,
select:focus,
textarea:focus {
    background-color: rgb(187, 192, 216);
}

input[type='text']:hover,
input[type='email']:hover,
select:hover,
textarea:hover {
    border-color: rgb(149, 161, 216);
}

.footer {
    background: rgb(71, 71, 71);
    font-family: var(--fontB);
    color: #fff;
    height: 35px;
    padding: 4px;
}


.footer a {
    float: right;
    height: auto;
    width: auto;
    padding: 0;
    border: none;
    margin-right: 10px;
}

.connect_img {
    height: 30px;
    width: 30px;
    margin: 2px 0 0;
    border: none;
    border-radius: 30%;
    box-shadow: 2px 2px 10px #888888;
}

#copyright {
    display: inline-block;
    padding: 10px;
}

/* ============================ Grid Layout ======================*/
.projectPanels {
    max-width: 1350px;
    margin: 40px auto;
    text-align: center;
}

/* ============================ Nav Bar ======================*/
.menu {
    visibility: visible;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(71, 71, 71);
}

li {
    float: left;
    color: white;
}

li h1 {
    padding: 14px 16px;
}

li a {
    display: block;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
    color: #fff;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #333;
}

.right {
    float: right;
}

/* SM SCREEN NAV DROPDOWN */
.dropbtn {
    color: white;
    vertical-align: middle;
    padding: auto;
    font-size: 10px;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 26px;
}

.dropbtn.open {
    background-color: #333;
}

.dropdown {
    position: absolute;
    top: -10px;
    right: 40px;
    height: 68px;
    display: inline-block;
    visibility: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(71, 71, 71);
    width: 92px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content.open {
    display: block;
}

.dropdown-content li a {
    color: #333;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content li {
    list-style-type: none;
    right: 0;
}

.dropdown-content a:hover {
    background-color: #333;
    color: white;
}

/* ======================== Portfolio Style ===================================== */
.projectSort {
    margin: 20px auto;
}

.sort {
    font-family: var(--fontA);
    font-size: 16px;
    margin: 0 10px;
    padding: 0 5px;
    color: #333;
    position: relative;
    cursor: pointer;
}

.sort:after {
    content: ''; 
    position: absolute; 
    bottom: -2px; 
    left: -5%; 
    height: 2px; 
    width: 0;
    background: #333; 
    transition: width .3s; 
}

.sort.active:after {
    width: 110%;
}

.sort:hover:after {
    width: 110%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-auto-rows: auto;
    grid-gap: 20px;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.box {
    border: 1px solid #ccc;
    background: #fff;
    padding: 20px;
    position: relative;
    text-align: left;
    transition: all 1s;
    /* display: none;  */
    opacity: 0;
    position: absolute; 
    left: -200%;
}

.box.active {
    /* display: block;  */
    opacity: 1;
    position: relative;
    left: 0;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 0 #ccc;
}

.box .skillBadges {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
}

.box .badge {
    border-radius: 10px;
    height: 25px;
    width: 25px;
    transition: all 1s;
}

.badge.badge-c {
    height: 30px;
    width: 35px;
}

.box .badge:hover {
    transform: scale(1.5);
}

.box a {
    font-family: var(--fontB);
    font-size: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    color: #333;
    text-decoration: none;
    position: relative;
}

.box a:after {
    content: ''; 
    position: absolute; 
    bottom: -2px; 
    left: 8%; 
    height: 2px; 
    width: 0;
    background: #333; 
    transition: width .3s; 
}

.box a:hover {
    /* border-bottom: 2px solid #333; */
}

.box a:hover:after {
    width: 85%;
}

.box h1 {
    font-family: var(--fontC);
    font-size: 36px;
    color: #333;
}

.box p {
    font-family: var(--fontA);
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

/* //! Lg Tablet Layout =========================================================================================================== */
@media (max-width: 1024px) {

    .main {
        font-size: 22px;
        padding: 15px;
    }

    .badge {
        height: 35px;
        width: 35px;
    }

    .contact {
        margin-bottom: -30px;
    }

    form {
        margin: 10px 0 0 -10px;
        padding-top: 0;
    }

    /*================ Portfolio =====================*/

    .box a {
        font-size: 18px;
        padding: 5px 10px;
        margin-right: 10px;
    }

    .box h1 {
        font-size: 36px;
    }

    .box p {
        margin: 10px 0;
        font-size: 18px;
    }

}

/* //! Tablet Layout =========================================================================================================== */
@media (max-width: 768px) {
    .main {
        background-color: rgba(71, 71, 71, 0.8);
    }

    .badge {
        height: 30px;
        width: 30px;
    }

    .contact {
        height: 100%;
    }

    form {
        margin: 0px 0 0 0;
    }

    button[type='submit'] {
        padding: 5px;
        width: 50%;
        margin-bottom: 0;
    }

    button.emailSubmit.desk {
        display: none;
    }

    button.emailSubmit.mobile {
        display: block;
    }

    #contact-form > .col {
        width: 100%;
        margin: 0 auto;
    }
    form,
    textarea,
    input[type='text'],
    input[type='email'],
    select {
        font-size: 14px;
    }

    /*================ Portfolio =====================*/

    .box a {
        font-size: 16px;
        padding: 5px 8px;
        margin-right: 10px;
    }

    .box h1 {
        font-size: 28px;
    }

    .box p {
        font-size: 16px;
    }
}

/* //! Phone Layout =========================================================================================================== */
@media (max-width: 551px) {
    .main {
        margin: 20% auto;
        border-radius: 0;
        width: 90%;
    }

    .dropdown {
        visibility: visible;
        margin-right: -40px;
    }

    .menu {
        visibility: hidden;
    }

    form,
    textarea,
    input[type='text'],
    input[type='email'],
    select {
        width: 90%;
    }

    .badge-heroku {
        display: none; 
    }

    #box1 {}
    #box2 {}
    #box2 {}
    #box3 .badge-materialize { display: none;}
    #box4 {}
    #box5 {}
    #box6 {}
    #box7 {}
    #box8 {}

}



